!!! Strict
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF' }
    %title 
      = "meftos.com#{@page_title ? ": " + @page_title : ""}"
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "application"
  %body
    #container
      #global-navigation
        %ul
          - if logged_in?
            %li 
              = link_to 'Logout', logout_path
          %li
            = link_to 'Bookmarklets', bookmarklets_path 
      #header
        %h1
          %a{ :href => root_path } meftos.com

      #navigation
        %ul
          %li
            = link_to 'Bookmarks', bookmarks_path
          %li
            = link_to 'Shorten a URL', new_url_path
          - if logged_in?
            %li
              = link_to 'Save a bookmark', new_bookmark_path
      #content
        = yield
        
      #footer
        %strong
          %a{ :href => root_path } meftos.com
        %br
        = "Copyright &copy; #{DateTime.now.strftime("Y")}"
        = link_to 'Myles Eftos', 'http://myles.eftos.id.au'

